# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# Python virtual environment
.venv/
venv/
env/


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# Environment
# =========================

.env


# =========================
# Jupyter
# =========================

.ipynb_checkpoints/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db




# =========================
# Temporary files
# =========================

*.log
*.tmp


# =========================
# Data
# =========================

# 原始数据
Projects/*/data/raw/*

# 处理后的数据
Projects/*/data/processed/*

# =========================
# Generated outputs
# =========================

Projects/*/outputs/*


# =========================
# Model files
# =========================

*.pth
*.pt
*.h5
*.ckpt


# =========================
# Cache
# =========================

*.cache